body {
    margin: 0;
    padding: 0;
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    background-color: lightgray;
    color: purple;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 5px;
}

.logo {
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
    font-size: 28px;
    font-weight: 600;
    font-weight: bold;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.hero-text {
    padding: 80px 60px;
}

h1 {
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    padding: 30px 60px;
    max-width: 550px;
    margin: 0;
}

.hero-image img {
    width: 355px;
    height: auto;
    border-radius: 6px;
    margin-top: 2px;
    margin-right: 20px;
    object-fit: cover;
}

.intro {
    padding: 80px 60px;
    max-width: 800px;
}

.intro h3 {
    font-size: 22px;
}

h3 {
    margin-bottom: 10px;
}

p {
    font-size: 19px;
    line-height: 1.5;
    max-width: 600px;
    color: black;
}

.featured-work {
    background-color: purple;
    padding: 80px 40px;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    color: lightgray;
    margin-bottom: 50px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.project-card {
    width: 360px;
    margin: 20px auto;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.project-card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.project-info {
    padding: 25px;
    border-radius: 0 0 20px 20px;
    color: #0e1a2b;
}

.project-info h3 {
    margin-top: 15px;
    font-size: 28px;
}

.project-info p {
    padding: 0 20px;
    line-height: 1.6;
    font-size: 20px;
}

.green {
    background-color: white;
}

.purple {
    background-color: white;
}

.blue {
    background-color: white;
}

.skills-section {
    background-color: lightgray;
    padding: 70px 40px;
    text-align: center;
    border-radius: 10px;
}

.skills-section h2 {
    font-size: 36px;
    margin-bottom: 5px;
    color: purple;
}

.subtitle {
    font-size: 19px;
    color: purple;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.skill img {
    width: 55px;
    margin-bottom: 15px;
}

.skill h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: purple;
}

.extras-section {
    background-color: purple;
    padding: 70px 40px;
    text-align: center;
    border-radius: 10px;
}

.extras-section h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.extras-desc {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.extra-box {
    border: 3px solid #2ce6ac;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: white;
}

.highlight {
    background-color: white;
    color: black;
}

.extra-box h3 {
    font-size: 22px;
    margin-bottom: 5px;
    color: black;
}

.extra-box p {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.highlight a {
    color: red;
    text-decoration: underline;
    font-size: 16px;
}

.contact-section {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    font-family: Georgia, serif;
    color: #1b3b32;
    background-color: lightgray;
}

.contact-section h2 {
    font-weight: 600;
    color: purple;
}

.contact-grid {
    display: grid;
    gap: 40px 80px;
    grid-template-columns: repeat(3, 1fr);
}

.contact-box h3 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
}

.contact-box a {
    color: #1b6f55;
    text-decoration: underline;
    font-size: 16px;
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        width: 100%;
    }

    .intro {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    section {
        width: 100%;
        padding: 20px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        margin: 0 auto;
        display: block;
        width: 100%;
        max-width: 350px;
        margin-top: 20px;
        object-fit: cover;
    }

    .project-card img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .project-card {
        width: 90%;
        margin: 0 auto;
    }

    .skills-section {
        text-align: center;
        align-items: center;
    }

    .skills-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 20px;
    }

    nav ul {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 20px;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: purple;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 53px;
        left: 0;
        padding: 15px 0;
        z-index: 9999;
    }

    .menu.active {
        display: flex;
    }

    .extras-section {
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        align-items: center;
    }

    .extras-desc {
        font-size: 16px;
        padding: 0 10px;
        line-height: 1.4;
        text-align: center;
    }

    .extra-box p {
        font-size: 16px;
        padding: 0 10px;
        line-height: 1.4;
    }

    .extra-box h3 {
        font-size: 28px;
    }

    .extras-section h2 {
        font-size: 28px;
    }

    .extra-box {
        width: 100%;
        padding: 15px;
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
    }

    .contact-section {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .contact-grid {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: left;
    }

    .contact-box h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .contact-box a {
        font-size: 18px;
        word-break: break-word;
    }

    .contact-section h2 {
        font-size: 36px;
        text-align: center;
    }
}