body {
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  background-color: purple;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  max-width: 1000px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 16px 32px;
  position: relative;
}

section id {
  font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
}

img {
  width: 75%;
  length: 75%;
  height: 75%;
  max-width: 100%;
}

p {
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;  
  color: purple;
  font-size: 15px;
  font-weight: bold;
}

ol li {
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-weight: bold;
  color: blue;
}

section {
  padding: 20px;
  margin: 50px;
  border: 7px solid #000000;
}

.vintage {
  background-color: yellow;
  font-weight: bold;
}

.logo {
  font-size: 26px;
  font-weight: 600;
  color: #1E90FF;
  background-color: darkred;
}

.colorbg {
  background-color: pink;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.main-nav a {
  text-decoration: none;
  color: magenta;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .main-nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: lightgreen;
    text-align: center;
  }

  .main-nav ul {
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
  }

  .soc_icon {
    width: 30px;
  }

  .menu-toggle {
    display: flex;
  }

  .main-nav.active {
    display: block;
  }
}