body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    color: purple;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

header nav a {
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: blue;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

h1 {
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    padding: 30px 60px;
    max-width: 550px;
    margin: 0;
}

img {
    width: 350px;
    height: auto;
    border-radius: 6px;
}

.intro {
    padding: 80px 60px;
    max-width: 800px;
}

h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

p {
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    font-size: 18px;
    line-height: 1.5;
    max-width: 600px;
    color: black;
}

.featured-work {
    background-color: red;
    padding: 80px 40px;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    color: black;
    margin-bottom: 50px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.project-card {
    width: 360px;
}

.project-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.project-info {
    padding: 25px;
    border-radius: 0 0 20px 20px;
    color: #0e1a2b;
}

.project-info h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 800;
}

.project-info p {
    margin-top: 10px;
    font-weight: 600;
}

.green {
    background-color: #7BF5C2;
}

.purple {
    background-color: #D0B3FF;
}

.blue {
    background-color: #9DC3FF;
}

.skills-section {
    background-color: blue;
    padding: 70px 40px;
    text-align: center;
    border-radius: 10px;
}

.skills-section h2 {
    font-size: 36px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 21px;
    color: orange;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.skill h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: yellow;
}

.skill p {
    font-size: 16px;
    color: pink;
    max-width: 260px;
    margin: 0 auto;
    font-weight: bold;
}

.extras-section {
    background-color: yellow;
    padding: 70px 40px;
    text-align: center;
    border-radius: 10px;
}

.extras-section h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.extras-desc {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.extra-box {
    border: 3px solid #2ce6ac;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #28e2a0;
}

.highlight {
    background-color: #28e2a0;
    color: #0b1c14;
}

.extra-box h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.extra-box p {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.extra-box a {
    color: red;
    text-decoration: underline;
    font-size: 16px;
}

.highlight a {
    color: red;
    text-decoration: underline;
    font-size: 16px;
}

.contact-section {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    font-family: Georgia, serif;
    color: #1b3b32;
}

.contact-section h2 {
    font-weight: 600;
}

.contact-grid {
    display: grid;
    gap: 40px 80px;
    grid-template-columns: repeat(3, 1fr);
}

.contact-box h3 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
}

.contact-box a {
    color: #1b6f55;
    text-decoration: underline;
    font-size: 16px;
}

@media (max-width: 800px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}